.DS_Store
*.log
*.db
**/__pycache__/
config/known_devices.yaml
config/secrets.yaml
config/plex.conf
config/.HA_VERSION
config/.ios.conf
config/.storage/**
config/.uuid
config/auth*
config/core.config_entries
config/core.device_registry
config/core.entity_registry
config/core.restore_state
config/onboarding